<mat-card class="cardSize">
    <mat-card-content>

        <form [formGroup]="register" #formData="ngForm">
            <div class="row1">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name Here" formControlName="FirstName">
                    <mat-error class="error"  *ngIf="getFirstName?.errors?.['required']">
                        First Name is Required                
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name Here"  formControlName="LastName">
                    <mat-error class="error"  *ngIf="getLastName?.errors?.['required']">
                        LastName Name is Required                
                    </mat-error>   
                </mat-form-field>
            </div>

            <!-- Email from materials website directly -->
            <mat-form-field class="emailBox"  appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                       placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
           
             <!-- Password -->
              <div class="row1">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" placeholder="Password" formControlName="Password">
                      <mat-error class="error"  *ngIf="register.controls['Password'].hasError('required')">
                          Password is Required              
                      </mat-error> 
                      <mat-error class="error" *ngIf="getPassword?.errors?.['pattern']">Password should have min 8 letter password with at least a symbol, upper and lower case letters and a number</mat-error>
                  </mat-form-field>
  
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Confirm Password</mat-label>
                      <input matInput type="password" placeholder="Confirm Password" formControlName="CPassword">
                      <mat-error class="error"  *ngIf="getCPassword?.errors?.['required']">
                      Confirm Password is Required                
                      </mat-error>
                      <!-- <mat-error  *ngIf="register?.errors?.['PasswordError']">
                        Password and Confirm Password Should Match
                      </mat-error> -->
                      <p style="color: red;"  *ngIf="register?.errors?.['PasswordError']">
                        Password and Confirm Password Should Match
                      </p>

                  </mat-form-field>
              </div>

              <!--  -->
     

              <!--  -->
              <div>
                  <mat-radio-group aria-label="Select an option" >
                      <mat-label style="font-size: 16px; font-weight: 500;">Gender</mat-label>
                      <mat-radio-button value="1">Male</mat-radio-button>
                      <mat-radio-button value="2">Female</mat-radio-button>
                    </mat-radio-group>
              </div>
              <!-- Age and phone number -->
              <mat-form-field class="agedata" appearance="outline">
                  <mat-label>Write Your Age Here</mat-label>
                  <input matInput placeholder="Age Here" formControlName="Age">
                  <mat-error class="error"  *ngIf="getAge?.errors?.['required']">
                      Age is Required                
                  </mat-error>
                  <mat-error class="error"  *ngIf="getAge?.errors?.['AgeCheck']">
                      Age must be higher than 18
                  </mat-error>
              </mat-form-field>  
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Write Your contact Here</mat-label>
                <input matInput  placeholder="Contact Here" formControlName="contact">
                <mat-error class="error"  *ngIf="getContact?.errors?.['required']">
                    contact is Required                
                </mat-error>
                <mat-error class="error"  *ngIf="getContact?.errors?.['contactError']">
                    contact must start with 768
                </mat-error>
            </mat-form-field>                        

            <br>
              <!-- Address -->
              <!-- Street -->
              <mat-form-field class="street" appearance="outline">
                <mat-label>Write Street Name</mat-label>
                <input matInput  placeholder="Street Name Here" formControlName="street">
                <mat-error class="error"  *ngIf="getStreet?.errors?.['required']">
                    Street Name is Required                
                </mat-error>
               </mat-form-field> 

            <!-- City and  State -->
            <div>
                <mat-form-field class="cityName" appearance="outline">
                    <mat-label>Write City Name</mat-label>
                    <input matInput  placeholder="City Name Here" formControlName="city">
                    <mat-error class="error"  *ngIf="getContact?.errors?.['required']">
                        City name is Required                
                    </mat-error>
                    <mat-error class="error"  *ngIf="getCity?.errors?.['contactError']">
                        City name must start with 768
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Write State Name</mat-label>
                    <input matInput  placeholder="State Name Here" formControlName="state">
                    <mat-error class="error"  *ngIf="getState?.errors?.['required']">
                        State name is Required                
                    </mat-error>

                </mat-form-field> 
            </div>
            <!-- zip -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Write Zip</mat-label>
                <input matInput placeholder="Zip Code Here" formControlName="zipCode">
                <mat-error class="error"  *ngIf="getZip?.errors?.['required']">
                    Zip code is Required                
                </mat-error>
                <mat-error class="error"  *ngIf="getZip?.errors?.['zipError']">

                </mat-error>

            </mat-form-field> 
            <br>
            <button mat-raised-button type="button" (click)="ResetForm()" color="accent">Reset</button>

            <button type="button" [disabled]="formData.invalid"  (click)="openSnackBar('Congrats!! You have submitted the form', 'Success')" mat-raised-button color="primary">Submit</button>
        </form>

    </mat-card-content>
</mat-card>