<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>

    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard"><mat-icon  aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Notes</a>
      <a mat-list-item routerLink="/add"><mat-icon>add</mat-icon>Add Note</a>
      <a mat-list-item routerLink="/Registration"><mat-icon>note_add</mat-icon>
        Registration</a>
      <a mat-list-item routerLink="/login"><mat-icon aria-hidden="false">login</mat-icon>Login</a>
      <!-- <a mat-list-item routerLink="/note"></a> -->
      <!-- <a mat-list-item routerLink="/editnote">Edit</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <div class="header-container">
          <app-header></app-header>
          <!-- <mat-toolbar color="primary">
            <img src="https://store-images.s-microsoft.com/image/apps.64641.13825011251621706.e8a531ea-e643-41b9-8969-8a0182f70030.d943169b-2e61-4261-897a-cbf29d890cc7?w=120" alt="">
            <span>Keep Note</span>
            <span class="example-spacer"></span>
      
            <div id ="search">
              <mat-form-field id="searchInput" appearance="outline">
                <input  matInput type="text" placeholder="Search  Note" [(ngModel)]="searchNote" >
                <mat-icon [routerLink]="['/search', searchNote]"  mat-button matSuffix type="button" >search</mat-icon>
              </mat-form-field>
            </div>
            
          </mat-toolbar> -->
        </div>
      </span>
    </mat-toolbar>
    <div class="dashboard-container">
      <router-outlet></router-outlet>
      <!-- <app-dashboard [searchFromHeader]="fromHeaderSearch"></app-dashboard> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

