<!-- <div id ="search">
  <mat-form-field id="searchInput">
      <input matInput type="text" placeholder="Search  Note" [(ngModel)]="searchNote">
      <mat-icon mat-button matSuffix  type="button" (click)="search()">search</mat-icon>
      <mat-icon mat-button matSuffix  type="button">search</mat-icon>
  </mat-form-field>
</div> -->


<div class="noteData">
    <mat-card class="dataCard" *ngFor="let data of NoteData">
        <mat-card-header>
          <mat-card-title>
            {{data.title}} 
            <div [ngSwitch]="data.priority">
              <mat-icon *ngSwitchCase="'Critical'" color="warn">gpp_maybe</mat-icon>
              <mat-icon *ngSwitchCase="'High'" color="warn">arrow_circle_up</mat-icon>
              <mat-icon *ngSwitchCase="'Medium'" color="warn">remove_circle_outline</mat-icon>
              <mat-icon *ngSwitchCase="'Low'" color="warn">arrow_circle_down</mat-icon>
            </div>

          </mat-card-title>
          <mat-card-subtitle>{{dateChange(data.reminderDate)}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
           <p>{{data.content}}</p>
        </mat-card-content>
        <mat-card-actions>
          <mat-chip-option>{{data.category}}</mat-chip-option>
        </mat-card-actions>
        <mat-icon class="pencil">edit</mat-icon>
    </mat-card>
</div>

