<div class="addNote">
    <form #formdata="ngForm">
        <mat-form-field appearance="fill" class="height" >
            <mat-label>Note Title</mat-label>
            <input matInput required name="title" [(ngModel)]="newNote.title" #noteTitle="ngModel" >
            <p *ngIf="noteTitle.touched && noteTitle.pristine">Note title is required</p>
        </mat-form-field>    
        <mat-form-field>
            <mat-label>Note Content</mat-label>
            <textarea matInput name="noteContent" [(ngModel)]="newNote.content" required minlength="100" #noteContent="ngModel"></textarea>
            <p *ngIf="noteContent.touched && noteContent.pristine">Note content is required</p>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" name="datepicker" [(ngModel)]="newNote.reminderDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput matInput name="category" [(ngModel)]="newNote.category"  #category="ngModel">   
        </mat-form-field>

        <mat-radio-group>
            <mat-label class="cateogry" name="category" [(ngModel)]="newNote.priority">Overall Rating</mat-label>
            <div>
            <mat-radio-button value="Low">Low</mat-radio-button>
            <mat-radio-button value="Medium">Medium</mat-radio-button>
            <mat-radio-button value="high">high</mat-radio-button>
            <mat-radio-button value="Critical">Critical</mat-radio-button>
            </div>
        </mat-radio-group>
        <button [disabled]="formdata.invalid">
            <mat-icon type="button" (click)="openSnackBar('Feedback Submitted SuccessFully', 'Success')">save</mat-icon>        
        </button>
    </form>
</div>
